.load{
    animation: slide 2s;
}

.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 40s infinite;
}

.content{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);  
}

.principal{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;   
    text-align: center;
    font-family: 'roboto', sans-serif;
    
}

.principal h1{
    font-size: 30px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 52px;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

.principal p{
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

@keyframes slide {
    0%{
        background-image: url('https://images.pexels.com/photos/15978382/pexels-photo-15978382/free-photo-of-oil-train-carriages-near-petrol-refinery-in-trzebinia-poland.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
    20%{
       background-image: url('https://images.pexels.com/photos/257700/pexels-photo-257700.jpeg?auto=compress&cs=tinysrgb&w=600'); 
    }
    20.01%{
        background-image: url('https://media.istockphoto.com/id/155356841/photo/tanker-truck-on-a-highway.jpg?b=1&s=612x612&w=0&k=20&c=efmyl1gHQGFd38WPYxbDmkpxUCjAkcHpQQSysD47ZT4=');
    }
    40%{
       background-image: url('https://images.pexels.com/photos/7932921/pexels-photo-7932921.jpeg?auto=compress&cs=tinysrgb&w=600'); 
    }
    40.01%{
       background-image: url('https://images.pexels.com/photos/327041/pexels-photo-327041.jpeg?auto=compress&cs=tinysrgb&w=600'); 
    }
    60%{
       background-image: url('https://media.istockphoto.com/id/1199749863/photo/retail-gasoline-station-and-convenience-store-reworked.jpg?b=1&s=612x612&w=0&k=20&c=IjBfbwGYFQDwB_CyruOQy4NJ-MjVq96YWnnu8b_jEGk='); 
    }
    60.01%{
        background-image: url('https://images.pexels.com/photos/188024/pexels-photo-188024.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
    80%{
        background-image: url('https://images.pexels.com/photos/6005876/pexels-photo-6005876.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
    80.01%{
       background-image: url('https://images.pexels.com/photos/188024/pexels-photo-188024.jpeg?auto=compress&cs=tinysrgb&w=600'); 
    }
    100%{
        background-image: url('https://media.istockphoto.com/id/502613490/photo/fire-torching-against-the-sky.jpg?b=1&s=612x612&w=0&k=20&c=70x0_sckv4qKcYhNri1l2LfsEv7AvUKFFQcPv3ZACCA='); 
    }

}


